<div class="border-b border-gray-300 pb-8 cursor-pointer" (click)="toggleFaq(question)">

    <!-- QUESTION -->
    <button class="w-full flex justify-between items-center text-left cursor-pointer">

        <span class="text-lg font-semibold">
            {{ question.question }}
        </span>

        <i class="fa-solid cursor-pointer" [class.fa-chevron-down]="!question.isOpen" [class.fa-chevron-up]="question.isOpen"></i>

    </button>

    <!-- ANSWER -->
    @if(question.isOpen) {

    <p class="text-gray-600 text-lg leading-10 mt-6">
        {{ question.answer }}
    </p>

    }

</div>